html
  head
    include ./includes/bootstrap.jade
    include ./includes/googleMapsApi.jade
    script(src="/jspm_packages/system.js")
    script(src="/config.js")
    script(src="/grapph/jquery.min.js")
    script(src="/grapph/sly.min.js")
    script(src="/grapph/horizontal.js")
    script(src="/grapph/modernizr.js")
    script(src="/grapph/plugins.js")
    script System.import('d3')
    script System.import('app-angular')
    ///*script System.import("/visualization/wGraph.js")*/
    link(href='/visualization/chart.css', rel='stylesheet')
    link(href='/style/main.css', rel='stylesheet')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href="#") Grapph
        .collapse.navbar-collapse.navbar-right
          if !isAuthenticated()
            ul.nav.navbar-nav
              li.nav.navbar-nav
                a(href='/users/login') Sign In
              li.nav.navbar-nav
                a(href='/users/register') Register
          else
            ul.nav.navbar-nav.navbar-right
              li.nav.navbar-nav
                a(href='/users/logout') Logout
            p.navbar-text.navbar-right
              | Hello #{user.username}!
    if isAuthenticated()
      div(ng-controller="WeightChartController")#chart
        div(linear-chart chart-data="weightData")
      div
        #forcecentered.frame
          ul.clearfix
            - for(var i = 120; i < 250; i++)
              li #{i}

      div(ng-controller="WeightListController as vm").manual-control
        input(ng-model="newWeight" type="text" name="addValue" value="100")
        button(ng-click="vm.addWeight(newWeight)") Add
        hr
        div.item-list
          label Weight List for #{user.username}:
          ul
            li(ng-repeat="weight in vm.weightList | filter: { } track by $index")
              | {{ weight.weight }} - {{ weight.createdAt | date:'shortDate' }}

  block footer
        if user
          .row
            .col-md-12
              .pull-right
                small You are signed in as #{user.username}!
                a(href="/users/logout")  Logout.
