.path {
  stroke: #2acc99;
  stroke-width:4;
  fill:none;
}

.area {
  stroke-width:10;
  fill:#e3f3ee;
}

.node {
  fill: #2acc99;
}

.axis path,
.axis line{
  fill: none;
  stroke:#bbb;
  shape-rendering:crispEdges;
  display:none;
}

.axis text{
  font-size:12px;
  fill:#bbb
}

.tick
{
  stroke-dasharray: 1, 2;
}
